body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #35424a;
    color: #ffffff;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

h2 {
    text-align: center;
}


main {
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
}

label,
input,
button {
    margin-bottom: 1rem;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    background-color: #35424a;
    color: #ffffff;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #2a3138;
}

#weather-results {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 5px;
}

footer {
    background-color: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}
