<header>
  <h1 class="nes-container">Walk-O-Clock?</h1>
</header>
<main>
  <h1 for="error_select">Who are you?</h1>
  <div class="nes-select is-error">
    <select required id="error_select" [(ngModel)]="selectedUser" name="selectedUser">
      <option value="" disabled selected hidden>Select...</option>
      <option value="Corey">Corey</option>
      <option value="Alex">Alex</option>
      <option value="Not a weather wimp">Not a weather wimp</option>
    </select>
  </div>
  <h1 *ngIf="selectedUser === 'Corey'" for="mood_select">How Ya Feeling??</h1>
  <div *ngIf="selectedUser === 'Corey'" class="nes-select is-error">
    <select required id="mood_select" [(ngModel)]="currentMood" name="currentMood">
      <option value="" disabled selected hidden>Select...</option>
      <option value="happy">Happy</option>
      <option value="neutral">Neutral</option>
      <option value="sad">Oh bother</option>
      <option value="sheldonYelled">Sheldon yelled at me</option>
    </select>
  </div>
  <div class="button-container">
    <button id="submit" class="nes-btn is-primary" (click)="getWeather()">Submit</button>
  </div>
  
  <app-alert-modal [title]="alertTitle" [message]="alertMessage" [show]="showAlert" (close)="hideAlertModal()"></app-alert-modal>

  <section *ngIf="weatherData" id="weather-results" class="nes-container">
    <h2>Current Weather</h2>
    <p id="weather-description"><span>{{ weatherData.weather[0].description | capitalize }}</span><img id="weather-icon" src="{{ weatherIcon }}" alt="Weather"></p>
    <p id="temperature"><span>Temp: {{ weatherData.main.temp | number:'1.0-0' }}&deg;F</span><img id="thermometer" src="assets/icons/thermo2.png" alt="Thermometer"></p>
    <p id="temperature">Wind: {{ weatherData.wind.speed | number:'1.0-0' }} Mph</p>
    <img *ngIf="selectedUser === 'Corey'" id="corey-mug" src="assets/images/pixel-corey.png">
  </section>
  <section *ngIf="weatherData" id="recommendation-result" class="nes-container">
    <p id="walk-recommendation"><span>{{ recommendation }}</span><img id="walk-icon" src="{{ walkIcon }}" alt="Walk Icon"></p>
  </section>
</main>
<footer>
  <p class="nes-container" id="footer">&copy; 2023 Walk-O-Clock. All rights reserved, especially Spencer's.</p>
</footer>
