<header>
  <h1 class="nes-container">Walk-O-Clock?</h1>
</header>
<main>
  <h1 for="error_select">Who are you?</h1>
  <div class="nes-select is-error">
    <select required id="error_select" [(ngModel)]="selectedUser" name="selectedUser">
      <option value="" disabled selected hidden>Select...</option>
      <option value="Corey">Corey</option>
      <option value="ALex">Alex</option>
      <option value="Not a weather wimp">Not a weather wimp</option>
    </select>
  </div>
  <div class="button-container">
    <button id="submit" class="nes-btn is-primary" (click)="getWeather()">Submit</button>
  </div>
  <section *ngIf="weatherData" id="weather-results" class="nes-container">
    <h2>Current Weather</h2>
    <p id="weather-description"><span>{{ weatherData.weather[0].description }}</span><img id="weather-icon" src="{{ icon }}" alt="Weather Icon"></p>
    <p id="temperature">Temp: {{ weatherData.main.temp }}&deg;F</p>
  </section>
  <section *ngIf="weatherData" id="recommendation-result" class="nes-container">
    <p id="walk-recommendation">{{ recommendation }}</p>
  </section>
</main>
<footer>
  <p class="nes-container">&copy; 2023 Walk-O-Clock. All rights reserved, especially Spencer's.</p>
</footer>
