/* Default styles */

body {
  font-family: "Press Start 2P", cursive;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  padding: 1rem;
}

header h1 {
  margin: 0;
}

h1 {
  font-size: inherit !important;
  margin-bottom: 0px !important;
}

h1,
h2 {
  text-align: center;
}

main {
  padding: 1rem;
}

p {
  font-size: smaller;
}

h1.nes-container {
  border-color: #22c425 !important;
}

label,
input,
button {
  margin-bottom: 1rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}

button {
  background-color: #35424a;
  color: #ffffff;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

#weather-results {
  margin-top: 0.5rem;
  border-color: purple;
}

#recommendation-result {
  margin-top: 0.5rem;
  border-color: orange;
}

#weather-icon,
#walkIcon {
  padding-left: 0.5rem;
}

#thermometer {
  width: 32px;
}

#wind {
  width: 24px;
  margin-left: 0.5rem;
}

#footer {
  border-color: blue;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
}

#corey-mug {
  display: block;
  animation: bounce 5s linear infinite;
  width: 80px;
}

#alex-mug {
  display: block;
  animation: bounceRotate 5s linear infinite;
  width: 100px;
}

#ian-mug {
  display: block;
  animation: bounce 3s ease-in-out infinite;
  width: 80px;
}

.loading-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 100;
}

#loading-text {
  text-align: center;
}

.loader {
  background-image: url("assets/images/loading-walk.gif");
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounceRotate {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(200px) rotate(180deg);
  }
  100% {
    transform: translateX(0) rotate(360deg);
  }
}

@keyframes bounce {
  0% {
    transform: translateX(0) scale(1);
  }
  25% {
    transform: translateX(100px) scale(1.1);
  }
  50% {
    transform: translateX(200px) scale(1);
  }
  75% {
    transform: translateX(100px) scale(0.9);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes bounce2 {
  0%,
  100% {
    transform: translateY(0) scaleY(1);
  }
  50% {
    transform: translateY(-100px) scaleY(1.2);
  }
}

.button-container {
  text-align: center;
  padding-top: 5px;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#especially-spencer {
  font-size: 0.5rem;
}

#clock1 {
  width: 35px;
  padding-right: 7px;
}

#clock2 {
  width: 35px;
  padding-left: 5px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

/* Media queries for larger screens */

@media only screen and (min-width: 768px) {
  main {
    max-width: 600px;
    margin: 0 auto;
  }

  label,
  input,
  button {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  button {
    padding: 0.5rem 1rem;
  }

  #weather-results {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
  }

  #weather-description,
  #temperature {
    flex-basis: 50%;
  }

  #walk-recommendation {
    flex-basis: 100%;
  }
}
