/* Default styles */

body {
    font-family: 'Press Start 2P', cursive;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    padding: 1rem;
}

header h1 {
    margin: 0;
}

h1,h2 {
    text-align: center;
}

main {
    padding: 2rem;
}

label,
input,
button {
    margin-bottom: 1rem;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
}

button {
    background-color: #35424a;
    color: #ffffff;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

#weather-results {
    margin-top: .5rem;
}

#recommendation-result {
    margin-top: .5rem;
}

#weather-icon, #walkIcon {
  padding-left: .5rem;
}

footer {
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

.button-container {
    text-align: center;
    padding-top: 5px;
}

/* Media queries for larger screens */

@media only screen and (min-width: 768px) {
  main {
    max-width: 600px;
    margin: 0 auto;
  }

  label,
  input,
  button {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  button {
    padding: 0.5rem 1rem;
  }

  #weather-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #weather-description,
  #temperature {
    flex-basis: 50%;
  }

  #walk-recommendation {
    flex-basis: 100%;
  }
}
